<div class="equipos-container">
  <mat-card class="equipos-card">
    <div class="header">
      <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
      <mat-card-title class="equipos-title">Equipos en Competición</mat-card-title>
      <h1> 🏈</h1>
      <mat-divider></mat-divider>
    </div>
    <div class="table-container">
      @for (j of equipos$ | async; track j.id) {
        <div class="equipos-table">
          <img [src]="j.logo" alt="{{ j.nombre }}" class="equipo-logo">
          <div class="equipos">
            <div class="equipo">
              <span>{{ j.nombre }}</span>
              <div
                [ngClass]="{
                  'chip-afc': j.division.startsWith('AFC'),
                  'chip-nfc': j.division.startsWith('NFC')
                }"
              >
                {{ j.division }}
              </div>
            </div>
            <div class="info">
              <span class="puntaje">{{ j.puntaje }} puntos</span>
              <span class="participante">{{ j.participante }}</span>
            </div>
          </div>
        </div>
      }
    </div>      
  </mat-card>
</div>



