<div class="equipos-container">
  <mat-card class="equipos-card">
    <div class="header">
      <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
      <mat-card-title class="equipos-title">Equipos en Competición</mat-card-title>
      <h1> 🏈</h1>
      <mat-divider></mat-divider>
    </div>
    <div class="table-container">
      @for (e of equipos$ | async; track e.id) {
        @let p = (e.participante ?? '').trim();
        @if (p && p.toLowerCase() !== 'no asignado') {
          <div class="equipos-table">
              <img [src]="e.logo" alt="{{ e.nombre }}" class="equipo-logo">
              <div class="equipos">
                <div class="equipo">
                  <div>
                    <div>{{ e.nombre }}</div>                
                    <div class="score">{{ e.pg }}-{{ e.pe }}-{{ e.pp }}</div>                                      
                  </div>
                  <div
                    [ngClass]="{
                      'chip-afc': e.division.startsWith('AFC'),
                      'chip-nfc': e.division.startsWith('NFC')
                    }"
                  >
                    {{ e.division }}
                  </div>
                </div>
                <div class="info">
                  <span class="puntaje">{{ e.pg * 10 + e.pe * 5 }} puntos</span>
                  <span class="participante">
                    {{ e.participante }}
                  </span>
                </div>
              </div>          
          </div>
        }
      }
    </div>      
  </mat-card>
</div>



