.equipos-container {
  background-color: #003366;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}

.equipos-card {
  max-width: 90%;
  padding: 20px;
  text-align: center;
}

.equipos-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.tabla-container {
  overflow-x: auto;
}

.equipos-table {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  overflow: hidden; 
}

.equipos-table table {
  border-collapse: separate;
  border-spacing: 0;
}

.equipos-table th {
  background-color: #003366;
  color: white;
  font-weight: bold;
  text-align: center;
}

.equipos-table td {
  text-align: center;
  padding: 8px;
}

.equipos-table td {
  color: #000 !important; 
}

.equipos-table tr:hover {
  background-color: #f2f2f2;
}

.logo {
  width: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}
