.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.menu-desktop {
  display: flex;
  gap: 12px;
}

.menu-mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: inline-flex;
  }
}
