:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #013369; 
  min-height: 100vh;
  padding: 20px;
  color: white; 
}

.logo-nfl {
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 30%;
  margin-top: 20px;
  background-color: white;
  border: 4px double #c60c30;  
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: black; 
}

.subtabla {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
}

.subtabla td {
  border-right: 1px solid #ccc;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
}

.subtabla td:last-child {
  border-right: none; 
}

.division-badge {
  font-size: 10px;
  background-color: #1976d2; 
  color: white;
  padding: 2px 6px;
  border-radius: 8px;
  margin-top: 4px;
  text-align: center;
  white-space: nowrap;
}

.subtabla th, .subtabla td {
  border: 1px solid #bbb;
  padding: 6px;
  font-size: 14px;
}

.subtabla img {
  border: 1px solid #013369;
  border-radius: 6px;
  padding: 2px;
  background: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #013369; 
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}


tr.primer-lugar {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

tr.segundo-lugar {
  background-color: #ff4444;
  color: white;
  font-weight: bold;
}

.divider {
  border: none;
  border-top: 2px solid #c60c30;  
  width: 60%;
  margin: 20px auto; 
}