<div class="tabla-puntajes-container">
  <mat-card class="tabla-puntajes-card">
    <div class="header">
      <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
      <mat-card-title class="tabla-puntajes-title">Tabla de puntajes 🏈</mat-card-title>
      <mat-divider></mat-divider>
    </div>

    <div class="tabla-container">
      <table mat-table [dataSource]="(participantes$ | async) ?? []" class="mat-elevation-z8 tabla-puntajes-table">

        <ng-container matColumnDef="participante">
          <th mat-header-cell *matHeaderCellDef> Participante </th>
          <td mat-cell *matCellDef="let p"> {{p.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="puntaje">
          <th mat-header-cell *matHeaderCellDef> Puntaje </th>
          <td class="puntaje" mat-cell *matCellDef="let p"> {{p.puntaje}} </td>
        </ng-container>

        <ng-container matColumnDef="equipos">
          <th mat-header-cell *matHeaderCellDef> Equipos </th>
            <td mat-cell *matCellDef="let p">
              <div class="equipos-lista">
              @for (eq of p.equipos; track eq.nombre) {
                <div class="equipo-item">
                  <img [src]="eq.logo" [alt]="eq.nombre" class="equipo-logo" />
                  <span class="equipo-puntaje">{{ eq.puntaje }}</span>

                  <mat-chip
                    [ngClass]="{
                      'chip-afc': eq.division.startsWith('AFC'),
                      'chip-nfc': eq.division.startsWith('NFC')
                    }"
                  >
                    {{ eq.division }}
                  </mat-chip>
                </div>
              }
              </div>
            </td>        
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>

