.admin-container {
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0b2d5c; 
}

.admin-card {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  max-width: 70%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo {
  width: 50px;
}

.subtitle {
  margin: 20px 0;
  font-weight: bold;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.button-container button {
  flex: 1 1 150px !important;
  max-width: 200px !important;
}