<div class="admin-container">
  <mat-card class="admin-card">
    <div class="header">
      <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
      <h1>NFL Predictor 2026-2027</h1>
      <h1> 🏈</h1>
    </div>
    <mat-divider></mat-divider>

    <h2 class="subtitle">Admin Module</h2>
    <mat-divider></mat-divider>

    <div class="button-container">
      <button mat-button routerLink="/ingresar-juego">
        <mat-icon>sports_football</mat-icon>
        <span>Ingresar Juego</span>
      </button>
      <button mat-button routerLink="/participantes">
        <mat-icon>people</mat-icon>
        <span>Participantes</span>
      </button>
      <button mat-button routerLink="/asignacion">
        <mat-icon>dashboard_customize</mat-icon>
        <span>Asignación</span>
      </button>
      <button mat-button routerLink="/nuevo-usuario">
        <mat-icon>add-user</mat-icon>
        <span>Nuevo Usuario</span>
      </button>
      <button mat-button routerLink="/borrar-usuario">
        <mat-icon>delete-user</mat-icon>
        <span>Borrar Usuario</span>
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </mat-card>
</div>
