/* Fondo azul como el home */
.reglamento-container {
  background-color: #003366;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}

/* Card centrada */
.reglamento-card {
  max-width: 80%;
  padding: 20px;
  }

/* Título */
.reglamento-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Contenedor */
.container {
  overflow-x: auto;
  background-color: white;
  border-radius: 2%;
  color: black;
}

.logo {
  width: 50px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

li::marker {
  color: #003366;
  font-weight: bold;
}