.reglamento-container {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #003B73;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.reglamento-card {
  max-width: 90%;
  padding: 20px;
}

.reglamento-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.container {
  overflow-x: auto;
  background-color: white;
  border-radius: 16px;
  color: black;
}

.logo {
  width: 50px;
  height: auto;
  content-visibility: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

li {
  padding: 4px;
}

li::marker {
  color: #003B73;
  font-weight: bold;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
