<div class="reglamento-container">
  <mat-card class="reglamento-card">
    <div class="header">
      <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
      <mat-card-title class="reglamento-title">Reglamento NFL Predictor</mat-card-title>
      <h1> 🏈</h1>
      <mat-divider></mat-divider>
    </div>

    <div class="container">
      <ol>
        <li>A cada participante se le asignará un número aleatorio e irrepetible sorteado en la plataforma NFL-Predictor.</li>
        <li>Al participante con el menor número le será asignado el equipo con el puesto más alto del ranking global de la temporada anterior.</li>
        <li>Al siguiente participante con el número consecutivo en orden ascendente le será asignado el siguiente equipo del ranking.</li>
        <li>Se seguirá asignando un equipo de la misma manera hasta que haya un equipo asignado a cada participante.</li>
        <li>Cuando se haya asignado un equipo a cada participante, se seguira haciendo la asignación usando el mismo orden de los equipos pero el orden inverso de los participantes.</li>        
        <li>La dinámica se repetirá hasta que los equipos queden repartidos equitativamente en los participantes sin repetir equipo en una división.</li>
        <li>Si por orden en el ranking, un participante da con un equipo de una división donde ya tiene equipo asignado, este equipo pasará al siguiente participante que pueda recibirlo siguiendo el mismo criterio.</li>
        <li>Si por orden en el ranking, un participante da con un tercer equipo de una conferencia, este equipo pasará al siguiente participante que pueda recibirlo siguiendo el mismo criterio.</li>
        <li>Esta asignación se hará automáticamente con un algoritmo interno de la plataforma NFL-Predictor siguiendo estrictamente las normas mencionadas.</li>
        <li>Esos sorteos se realizarán con una videoconferencia en vivo y/o con participantes presentes con el fin de que atestigüen su legalidad.</li>
        <li>Para las rondas de comodines, divisional, campeonato de conferencia y Super Bowl, cada participante tendrá un equipo en cada conferencia.</li>
        <li>La asignación se hará dando prioridad a los participantes con el menor puntaje al cierre de la ronda donde el participante con menor puntaje recibirá el equipo con la mejor marca de la temporada que esté disponible para ser asignado.</li>
        <li>Si dos de los equipos asignados en la ronda anterior al participante pasan a la siguiente ronda, el participante los conservará si están en diferente conferencia.</li>
        <li>El criterio se repetirá para asignar equipos a los participantes que hayan quedado sin equipo en alguna conferencia.</li>
        <li>Si son más de dos los equipos asignados en la ronda anterior al participante que pasan a la siguiente ronda o los tiene en la misma conferencia, el participante deberá ceder los que excedan el par y/o que que exceda uno en la misma conferencia.</li>
        <li>Si son menos de dos los equipos asignados en la ronda anterior al participante que pasan a la siguiente ronda, al participante se le asignará entre los disponibles hasta completar el par pero que queden en diferente conferencia siguiendo el criterio de marca por equipo y posición del jugador.</li>
        <li>Los equipos deberán quedar repartidos de forma equitativa sin repetir participante, a menos que el número de participantes exceda el número de equipos.</li>
        <li>Si un equipo asignado a un participante gana un partido de temporada regular se le sumarán 10 puntos al participante.</li>
        <li>Si un equipo asignado a un participante gana un partido de ronda de comodines se le sumarán 20 puntos al participante.</li>
        <li>Si un equipo asignado a un participante gana un partido de ronda de divisional se le sumarán 30 puntos al participante.</li>
        <li>Si un equipo asignado a un participante gana queda de primero en la conferencia antes de la ronda de comodines se le sumarán 20 puntos adicionales al participante debido a que no participará en la ronda de comodines.</li>
        <li>Si un equipo asignado a un participante gana el partido de final de conferencia se le sumarán 40 puntos al participante.</li>
        <li>Si el equipo asignado a un participante gana el partido del Super Bowl se le sumarán 50 puntos al participante.</li>
        <li>Si un equipo asignado a un participante empata un partido sumará la mitad de los puntos al participante según la ronda.</li>
        <li>El valor de la apuesta es de $50.000 COP</li>
        <li>Quien haya acumulado más puntos al finalizar el Super Bowl recibirá el 70% del recaudo.</li>
        <li>Quien haya acumulado el segundo puesto en puntos al finalizar el Super Bowl recibirá el 30% del recaudo.</li>
        <li>Si al finalizar el Super Bowl hay empate en el primer lugar, el total del recaudo se repartirá en partes iguales en los participantes que hayan empatado en el primer lugar.</li>
        <li>Si al finalizar el Super Bowl hay empate en el segundo lugar, el 30% del recaudo se repartirá en partes iguales en los participantes que hayan empatado en el segundo lugar.</li>
        <li>No se puede cambiar de equipos hasta que termine la ronda, teniendo en cuenta los puntos anteriores.</li>
      </ol>
    </div>
  </mat-card>
</div>

