:host {
  display: block;
  padding: 40px 20px;
  background-color: #013369; 
  color: white; /* Texto principal en blanco sobre el fondo azul */
  min-height: 100vh;
}

.card {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Tarjeta blanca */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #222; /* Texto dentro de la tarjeta */
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #013369; 
  margin-bottom: 15px;
}

hr {
  border: none;
  border-top: 2px solid #d50a0a; 
  margin: 20px 0;
}

ol {
  padding-left: 20px;
  line-height: 1.6;
  font-size: 16px;
}

ol li {
  margin-bottom: 7px;
  padding: 4px 10px;
}

ol li::marker {
  font-weight: bold;
  color: #013369; 
}
