/* home.component.css */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0b2d5c; /* Azul NFL */
}

.welcome-card {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  max-width: 80%;
}

.title-container {
  padding: 20px 0px 20px 0px;
}

.title {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo {
  width: 50px;
}

.subtitle {
  margin: 20px 0;
  font-weight: bold;
  color: white;
}

.custom-table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.mat-header-cell {
  font-weight: bold;
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.top {
  background-color: #1976d2; /* Azul Material */
  color: white;
  font-weight: bold;
}

.bottom {
  background-color: #e53935; /* Rojo Material */
  color: white;
  font-weight: bold;
}



