<div class="juegos-container">
  <mat-card class="juegos-card">
    <div class="header">
      <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
      <mat-card-title class="juegos-title">Juegos de la semana 🏈</mat-card-title>
      <mat-divider></mat-divider>
    </div>

    <div class="tabla-container">
      <table mat-table [dataSource]="(juegos$ | async) ?? []" class="mat-elevation-z8 juegos-table">

        <ng-container matColumnDef="visitante">
            <th mat-header-cell *matHeaderCellDef> Visitante </th>
            <td mat-cell *matCellDef="let j"> 
                <div class="equipo">
                    <img [src]="j.logoVisitante" alt="{{ j.visitante }}" class="logo">
                    <span>{{j.visitante}}</span>
                </div>                
            </td>
        </ng-container>

        <ng-container matColumnDef="local">
            <th mat-header-cell *matHeaderCellDef> Local </th>
            <td class="equipo" mat-cell *matCellDef="let j"> 
                <span>{{j.local}}</span> 
                <img [src]="j.logoLocal" alt="{{ j.Local }}" class="logo">
            </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let j"> {{j.fecha}} </td>
        </ng-container>

        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let j"> {{j.hora}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>

