.juegos-container {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #003366;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.juegos-card {
  max-width: 90%;
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.logo {
  width: 50px;
}

.juegos-title {
  font-size: 24px;
  font-weight: bold;
}

.table-container {
  overflow-x: auto;
  border-radius: 12px;
}

.juegos-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  color: #000;
  background-color: white;
  overflow: hidden; 
}

.equipos {
  display: flex;
  align-items: center;
  gap: 12px;
}

.equipo {
  display: flex;  
  flex-direction: column;
}

.participante {
  color: #555;
  font-size: 0.7rem;
}

.equipo-visitante {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  font-weight: bold;
}

.equipo-local {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-weight: bold;
}

.vs {
  font-weight: bold;
  font-size: 1.1rem;
  color: #d32f2f;
}

.equipo-logo {
  width: 40px;
  height: 40px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
}

  .schec {
    padding-left: 20px;
  }

@media (max-width: 768px) {
  .juegos-table {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    align-items: center;
  }

  .schec {
    padding-left: 0px;
  }

}