<div class="puntajes-container">
  <mat-card class="puntajes-card">
    <div class="header">
      <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
      <mat-card-title class="puntajes-title">Puntajes</mat-card-title>
      <h1> 🏈</h1>
      <mat-divider></mat-divider>
    </div>

    <div class="button-container">
      <button class="left" mat-menu-item routerLink="/admin">
        <mat-icon>arrow_back</mat-icon>
        <span class="hidden">Volver</span>
      </button>
      <button mat-stroked-button (click)="acumular()">
          <mat-icon>calculate</mat-icon>&nbsp;Acumular
      </button>
      <button mat-stroked-button (click)="resetAll()">
          <mat-icon>restart_alt</mat-icon>&nbsp;Reset
      </button>
      <button class="right" mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="hidden">Logout</span>
      </button>
    </div>
      
    <div class="table-container">
      @for (e of equipos$ | async; track e.id) {
        @let p = (e.participante ?? '').trim();
        @if (p && p.toLowerCase() !== 'no asignado') {
          <div class="puntajes-table">
            <div class="equipos">
              <div class="equipo">
                <img [src]="e.logo" alt="{{ e.nombre }}" class="equipo-logo">
                <div class="info-equipo">
                  <span>{{ e.nombre }}</span>
                  <span class="participante">                    
                    {{ e.participante }}
                  </span>
                </div>
              </div>

              <div class="info">
                <mat-form-field appearance="fill" class="score">
                  <mat-label>PG</mat-label>
                  <input type="number" matInput placeholder="0" [(ngModel)]="e.pg" />                  
                </mat-form-field>
                <mat-form-field appearance="fill" class="score">
                  <mat-label>PE</mat-label>
                  <input type="number" matInput placeholder="0" [(ngModel)]="e.pe"  />
                </mat-form-field>
                <mat-form-field appearance="fill" class="score">
                  <mat-label>PP</mat-label>
                  <input type="number" matInput placeholder="0" [(ngModel)]="e.pp"  />
                </mat-form-field>
              </div>
              <div class="info">
                <mat-form-field appearance="fill" class="score">
                  <mat-label>PW</mat-label>
                  <input type="number" matInput placeholder="0"  [(ngModel)]="e.pw" />                  
                </mat-form-field>
                <mat-form-field appearance="fill" class="score">
                  <mat-label>PD</mat-label>
                  <input type="number" matInput placeholder="0"  [(ngModel)]="e.pd" />                  
                </mat-form-field>
              </div>
              <div class="info">
                <mat-form-field appearance="fill" class="score">
                  <mat-label>PC</mat-label>
                  <input type="number" matInput placeholder="0"  [(ngModel)]="e.pc" />                  
                </mat-form-field>
                <mat-form-field appearance="fill" class="score">
                  <mat-label>SB</mat-label>
                  <input type="number" matInput placeholder="0"  [(ngModel)]="e.sb" />                  
                </mat-form-field>
              </div>
              <button class="controll" mat-icon-button (click)="guardarPuntos(e)">
                  <mat-icon>update</mat-icon>
              </button>
            </div>
          </div>
        }
      }
    </div>      
  </mat-card>
</div>



