<div class="tabla-puntajes-container-dialog">
    <mat-card class="tabla-puntajes-card-dialog">
    <div class="header">
        <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
        <mat-card-title class="tabla-puntajes-title">{{ data.nombre }}</mat-card-title>
        <button class="close-button" (click)="cerrar()">✕</button>
    </div>
    <mat-divider></mat-divider>

    <div class="table-container">
        <div class="tabla-puntajes-table">
        <div class="participante-section">
            <div class="participante">
            <span class="participante-item">Puntaje total</span>
            <span class="puntaje-item">{{ data.puntaje }} puntos</span>
            </div>
        </div>

        <div class="equipos-section">
            <div class="equipos-lista">
            @for (grupo of data.equiposPorEtapa; track grupo.etapa) {
                <div class="etapa-group">
                    <div class="etapa-group-label">{{ grupo.label }}</div>
                    @for (item of grupo.equipos; track item.equipo.nombre) {
                        <div class="equipo-item">
                        <img [src]="item.equipo.logo" [alt]="item.equipo.nombre" class="equipo-logo" />
                        <div class="equipo-info-derecha">
                            <strong class="equipo-nombre">{{ item.equipo.nombre }}</strong>
                            <span class="equipo-record">{{ item.wins }}-{{ item.ties }}-{{ item.losses }}</span>
                            <span class="equipo-puntaje">{{ item.puntos }} puntos</span>
                            <div
                              [ngClass]="{
                                'chip-afc': item.equipo.division.startsWith('AFC'),
                                'chip-nfc': item.equipo.division.startsWith('NFC')
                              }"
                            >
                              {{ item.equipo.division }}
                            </div>
                        </div>
                        </div>
                    }
                </div>
            }
            </div>
        </div>
        </div>
    </div>
    </mat-card>
</div>
