<div class="tabla-puntajes-container-dialog">
    <mat-card class="tabla-puntajes-card-dialog">
    <div class="header">
        <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
        <mat-card-title class="tabla-puntajes-title">{{ data.nombre }}</mat-card-title>
        <button class="close-button" (click)="cerrar()">✕</button>
    </div>
    <mat-divider></mat-divider>

    <div class="table-container">
        <div class="tabla-puntajes-table">
        <div class="participante-section">
            <div class="participante">
            <span class="participante-item">Puntaje total</span>
            <span class="puntaje-item">{{ data.puntaje }} puntos</span>
            </div>
        </div>

        <div class="equipos-section">
            <div class="equipos-lista">
            @if ((data.acumulado) !== 0) {
                <div class="equipo-item">
                <img
                    src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg"
                    alt="NFL"
                    class="equipo-logo"
                />
                <div class="equipo-info-derecha">
                    <strong class="equipo-nombre">Acumulado</strong>
                    <span class="equipo-puntaje">{{ data.acumulado }} puntos</span>
                    <div class="acumulado-chip">Acumulado</div>
                </div>
                </div>
            }
            @for (eq of data.equipos; track eq.nombre) {
                <div class="equipo-item">
                <img [src]="eq.logo" [alt]="eq.nombre" class="equipo-logo" />
                <div class="equipo-info-derecha">
                    <strong class="equipo-nombre">{{ eq.nombre }}</strong>
                    <span class="equipo-puntaje">{{ eq.pg * 10 + eq.pe * 5 + eq.pw * 20 + eq.pd * 30 + eq.pc * 40 + eq.sb * 50 }} puntos</span>
                    <div
                      [ngClass]="{
                        'chip-afc': eq.division.startsWith('AFC'),
                        'chip-nfc': eq.division.startsWith('NFC')
                      }"
                    >
                      {{ eq.division }}
                    </div>
                </div>
                </div>
            }
            </div>
        </div>
        </div>
    </div>
    </mat-card>
</div>
