<div class="agregar-container">
  <mat-card class="agregar-card">
    <div class="header">
      <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="logo">
      <h1>Nuevo Usuario</h1>
      <h1> 🏈</h1>
      <mat-divider></mat-divider>
    </div>

    <div class="button-container">
      <button class="left" mat-menu-item routerLink="/admin">
        <mat-icon>arrow_back</mat-icon>
        <span>Volver</span>
      </button>
      <button class="right" mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="box">
        <mat-label>email</mat-label>
      <input matInput formControlName="email" type="email" />
      @if (f.email.touched && f.email.hasError('required')) { <mat-error>El email es requerido</mat-error> }
      @if (f.email.touched && f.email.hasError('email')) { <mat-error>Email inválido</mat-error> }
      </mat-form-field>

      <mat-form-field appearance="fill" class="box">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (f.password.touched && f.password.hasError('required')) { <mat-error>La contraseña es requerida</mat-error> }
        @if (f.password.touched && f.password.hasError('minlength')) { <mat-error>Mínimo 6 caracteres</mat-error> }
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit" [disabled]="form.invalid || loading">
          {{ loading ? 'Creando…' : 'Crear' }}
        </button>
      </div>

      @if (okMsg)   { <div class="info"  style="margin-top:8px">{{ okMsg }}</div> }
      @if (errorMsg){ <div class="error" style="margin-top:8px">{{ errorMsg }}</div> }
    </form>
  </mat-card>
</div>
