name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main  # Se ejecuta solo cuando haces push a main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build Angular app
        run: npx ng build nfl-predictor --configuration production

      - name: SPA fallback for GitHub Pages
        run: cp ./dist/nfl-predictor/browser/index.html ./dist/nfl-predictor/browser/404.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/nfl-predictor/browser

      
